<h2 class="text-center mb-4">All books</h2>

<% if books.any? %>
  <table class="table table-striped table-borderless table-sm" id="books">
    <thead class="table-books-title">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <!--
        TODO: here
          1) Is it possible DELETE request without using form?
          2) routes.book_path helper doesn't work in tests
      -->
      <% books.each_with_index do |book, idx| %>
        <tr class="book">
          <th scope="row"><%= idx + 1 %></th>
          <td><%= book.author %></td>
          <td><%= book.title %></td>
          <td class="books-actions">
            <%= link_to 'Show', "/books/#{book.id}" %>
            <span class="divider"></span>
            <%= link_to 'Edit', "/books/#{book.id}/edit" %>
            <span class="divider"></span>
            <%=
              form_for :book, "/books/#{book.id}", method: :delete, class: 'book-delete' do
                submit 'Delete', class: 'book-delete-submit'
              end
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% else %>
  <p class="placeholder alert-info p-4">There are no books yet.</p>
<% end %>

<a href="/books/new">New book</a>
