<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Web</title>
    <%= favicon %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <%= javascript 'application' %>
    <%= stylesheet 'application' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <a class="navbar-brand" href="/">Bookshelf</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Books', routes.books_path, class: 'nav-link' %>
        </li>
      </ul>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
