<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= page_title %></title>
    <%= favicon %>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <%= javascript 'application', 'books' %>
    <%= stylesheet 'application', 'books' %>
  </head>
  <body>
    <%= render partial: 'shared/navbar' %>

    <div class="container">
      <%= render partial: 'shared/flash_messages' %>

      <%= yield %>
    </div>
  </body>
</html>
